.task{
    display: flex;
    width: 100%;
    justify-content: center;
    align-items: center;
    margin: 5px 0px;


    .container-task{
        display: flex;
        width: 100%;
        border: 2px dashed white;
        border-radius: 12px;
        align-items: center;
        padding: 10px 15px;
        color: white;
        background-color: brown;

        div{
            margin: 0px 5px;
            font-size: 1.2vw;
        }

        .t-id{
            flex: 0.1;
            font-weight: bolder;
        }

        .t-assignee{
            flex: 1;
            font-weight: 100;
        }

        .t-title{
            flex: 1.5;
            font-weight: 100;
        }

        .t-description{
            font-weight: 100;
            flex: 4;
        }

        .t-status{
            font-weight: 100;
            flex: 1;
        }

        .t-dated{
            flex: 1;
            font-weight: 100;
        }

        .t-delete{
            flex: 0.5;
            background-color: green;
            border: none;
            border-radius: 8px;
            padding: 10px 5px;
            color: white;
            font-size: 1.2vw;

            &:hover{
                cursor: pointer;
                background-color: rgb(0, 80, 0);
            }
        }
    }
}


@media (min-width: 0px) 
 {
    .header-logo{
        width: 25px;
        height: 9px;
    }
 }


@media (min-width: 400px) 
 {
    .header-logo{
        width: 50px;
        height: 20px;
    }
 }


 @media (min-width: 800px) 
 {
    .header-logo{
        width: 100px;
        height: 40px;
    }
 }
