.add-task{
    display: flex;
    width: 100vi;
    justify-content: center;
    align-items: center;


    .container{
        display: flex;
        width: 100%;
        margin: 0px 20px;
        border: 1px solid white;
        border-radius: 12px;
        align-items: center;
        justify-content: space-between;
        padding: 10px 15px;
        background-color: rgba(0, 0, 0, 0.425);

        button{
            flex: 0.15;
            width: 100px;
            height: 40px;
            border-radius: 12px;
            border: none;
            background-color: green;
            color: white;
            font-weight: 100;
            font-size: 1vw;

            &:hover{
                background-color: rgb(1, 90, 1);
                cursor: pointer;
            }
        }

        div{
            flex: 1;
            color: rgba(255, 255, 255, 0.677);
            font-weight: 100;
            text-align: justify;
            margin-right: 10px;
            font-size: 1vw;
        }
    }
}


@media (min-width: 0px) 
 {
    .header-logo{
        width: 25px;
        height: 9px;
    }
 }


@media (min-width: 400px) 
 {
    .header-logo{
        width: 50px;
        height: 20px;
    }
 }


 @media (min-width: 800px) 
 {
    .header-logo{
        width: 100px;
        height: 40px;
    }
 }


 .modal-container{
    display: none;
    width: 100vi;
    height: 100vh;
    align-items: center;
    justify-content: center;
    z-index: 0;
    background-color: rgba(0, 0, 0, 0.8);
    position: fixed;
    animation-name: modal-container;
    animation-duration: 1.5s;

    .modal{
        display: flex;
        width: 275px;
        color: white;
        align-items: center;
        flex-direction: column;
        background-color: #1D1F2F;
        animation-name: modal;flex-direction: column;
        animation-duration: 0.5s;
        border-radius: 12px;
        border: 2px solid white;

        .header{
            display: flex;
            margin: 0px;
            width: 100%;
            align-items: center;
            justify-content: space-between;

            .h-title{
                flex: 10;
                text-align: center;
                font-weight: bold;
            }

            .h-close{
                width: 20px;
                height: 20px;
                text-align: center;
                font-weight: bold;
                background-color: rgba(255, 255, 255, 0.186);
                border-radius: 50%;
                padding: 8px;
                margin: 0px 10px;

                &:hover{
                    cursor: pointer;
                    opacity: 0.5;
                }
            }
        }

        .mbody{
            display: flex;
            width: 100%;
            flex-direction: column;

            select{
                padding: 10px;
                margin: 5px 15px;
                background-color: white;
                border: none;
                border-radius: 8px;
            }

            input{
                padding: 10px;
                border-radius: 8px;
                border: none;
                margin: 5px 15px;
            }

            button{
                background-color: green;
                margin: 5px 15px;
                margin-bottom: 15px;
                border: none;
                border-radius: 8px;
                padding: 10px;
                color: white;

                &:hover{
                    cursor: pointer;
                    background-color: rgb(0, 87, 0);
                }
            }

            .mdesc{
                height: 100px;
                text-align: center;
            }
        }
    }
}

@keyframes modal-container {
    from {background-color: transparent}
    to {background-color: rgba(0, 0, 0, 0.8);}
  }

  @keyframes modal {
    from {background-color: #1d1f2f2e;}
    to {background-color: #1D1F2F;}
  }

